/*Body*/

body
{
    display: flex;
    padding: 0px;
    width: 1000px;
    border: silver 1px solid;
    margin-left: 200px;
}

/*Partie de liseret*/
#liseret
{
    width: 300px;
    background-color: #FFC107;
    overflow-wrap: break-word;
}

#liseret h1
{
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: #FFC107;
    padding: 5px;
}
#liseret section:nth-child(1)
{
    text-align: center;
}
#liseret section p img:nth-child(1)
{
    text-align: center;  
}
#liseret section p:nth-child(2)
{
    text-align: justify;
    flex-wrap: wrap;
    margin: 30px;
    margin-bottom: 350px;
}
#liseret section img
{
    padding-top: 40px;
    display: inline-flex;    
}

/*----------------Contenu du CV----------------*/
#main
{
    padding: 30px;
    margin: 20px;
    width: 700px;
}
#main header
{
    margin-bottom: 120px;
}
header span
{
    color: #FFC107;
}
u
{
    text-decoration: #FFC107 underline;
}
#main section:nth-child(2)
{
    margin-bottom: 20px;
}

hr
{
    color: #FFC107;
}
thead:nth-child(odd)
{
    font-size: 0.7em;
    color:black;
    text-align: left;
}
thead img:nth-child(1)
{
    margin-right: 15px;
}
thead img:last-child
{
    width: 10px;
}
table img[alt="cercle"]
{
    width: 20px;
}
thead span
{
    color: black;
    font-size: large;
    text-align: left;
    
}

table
{
    margin-top: 30px;
}
tbody td
{
    text-align: justify;
}


section div
{
    display: flex;
}
section div img
{
    width: 30px;
}
/*---------------------Bas de page footer---------------------*/
section div h1,footer #bas_de_page h1
{
    margin-left: 30px;
}
footer #bas_de_page
{
    display: flex;
    padding-top: 30px;
    
}
#recommandation
{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-right: 50px;
    text-align: justify;
    line-height: 0.5em;
}

/*--------------------------Media query responsive design ----------------*/

@media screen and (max-width: 480px){
    body 
    {
        overflow-wrap: break-word;
        margin: 0px;
    }
    
}

/*Règles CSS pour les appareils*/
@media screen and (min-width: 481px) and (max-width:1279px){
    body 
    {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

}
@media screen and (min-width: 1280px){
    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }
}
@media screen and (orientation: landscape){

}